.loader-container{
	background-image: url("../img/infinity-loader.svg");
	background-repeat:no-repeat;
	background-size:400px 400px;
	background-position:center center;
	width:100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	left:0;
	top:0;
	display:none;
	
	
}
html, body{
    padding:0;
    margin:0;
   /*  overflow:hidden; */
    
}
body{
	    background-image: url("../img/bg.jpg");
   
}
#game-container{
	 height: 95vh;
    display: flex;

    align-items: center;
    flex-direction: column;
}

.timeline-container{
    width:100%;
    height:400px;
    background-color: rgba(0, 0, 0, 0.8);

    display:flex;
    justify-content: center;
/*     overflow: visible; */
     
}

.game-cards-container{
    /* background-color:#c3c3c3; */
    width: 100%;
    height: 250px ;
    display: flex;
}

.settings{
    width:145px;
    height: 250px;
    /* background-color: aqua; */
    padding:1px;
    
}

.timer{
    width:100px;
    height: 100px;
    background-color: #d8d7d9;
    margin-left:5px;
    margin-top:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:38px;
}

.game-timer{

    width:100px;
    height: 50px;
    background-color: #d8d7d9;
    margin-left:5px;
    margin-top:25px;
    font-size:42px;
    text-align: center;
}

.cards{
	width:100%;
	display:flex;
	
}

.card{
	width: 200px;
    height: 250px;
    margin-left:5px;
 /*    overflow: hidden; */
    position: relative;
/*     border: 5px solid #fff;
    border-radius: 10px; */
      background:linear-gradient(0deg, #000, #262626);
}
.card-img-container{
	    width: 200px;
    height: 100%;
}
.card-img-container img{
	object-fit: fill;
    width: 200px;
}
.card-desc{
	position: absolute;
    width: 200px;
    color: #fff;
    background-color: #000;
    bottom: 0;
    left: 0;
}

body{
    background-color:#000;
}

/* .card{

    width:400px;
    height: 250px;
    position: relative;
    margin:250px auto 0;
    background:linear-gradient(0deg, #000, #262626);
} */

.card:before, .card:after{
    content:'';
    position: absolute;
    top:-2px;
    left:-2px;
    /* background:linear-gradient(45deg, rgb(71, 124, 71), orange, yellow, green, orange, yellow); */
    background:linear-gradient(45deg, #fb0094, #00ff37, #e100ff, #0059ff, #ff0000,
     #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
     background-size: 400%;
    width: calc(100% + 4px);
    height:calc(100% + 4px);
    z-index: -1;
    animation: card-border-anim 15s linear infinite;
}

.card:after{
    filter: blur(40px);
}
@keyframes card-border-anim{
    0%{
        background-position:  0  0;
    }
    50%{
        background-position:   400% 0 ;
    }
    100%{
        background-position:  0  0;
    }
}

.timeline-container > card{
	height:250px !important;
}